:root {
  --grey: #555555;
  --light-orange: #EAB25D;
  --orange: #E29253;
  --dark-orange: #B47353;
  --dark-red: #795555;
}

.App {
  margin: 0 5% 5% 5%;
}

.fancy-font {
  font-family: 'Leckerli One';
  color: var(--grey);
}

.title {
  font-size: 8vh;
  padding: 1% 0;
}

.horizontal {
  margin: auto;
}

.scroll {
  height: 75vh;
  overflow-y: auto;
}

.padding-5 {
  padding: 5%;
}

.center {
  text-align: center;
}

.small-text {
  font-size: 0.7em;
}
